<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改数据源</title>
<#include "${rc.contextPath}/framework/importFile.html"/>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-horizontal" id="datasource_form"
				enctype="multipart/form-data">
				<div class="form-group">
					<label class="col-xs-3 control-label"></label>
					<div class="col-xs-9">
						<label class="radio-inline">
							<input type="radio" name="datasource_purpose" id="optionsRadios1" value="0" checked> 源库
						</label>
						<label class="radio-inline">
							<input type="radio" name="datasource_purpose" id="optionsRadios2"  value="1"> 目标库
						</label>
					</div>
				</div>
				<div class="form-group">
					<label for="datasource_type" class="col-xs-3 control-label">数据源类型</label>
					<div class="col-xs-9">
						<select id="datasource_type" name="datasource_type"
							class="js-example-templating js-states form-control"
							onchange="setDriver()">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">数据源驱动</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="datasource_driver" name="datasource_driver"
							autocomplete="off" readonly="readonly">
					</div>
				</div>
				<div class="form-group" style="display: none;">
					<label class="col-xs-3 control-label required">id</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="id" name="id"
							   autocomplete="off" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label required">数据源编号</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="datasource_id" name="datasource_id"
							autocomplete="off" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label required">数据源名称</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="datasource_name" name="datasource_name"
							   autocomplete="off" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label required">数据源地址</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="datasource_url" name="datasource_url"
							autocomplete="off" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label required">用户名</label>
					<div class="col-xs-9">
						<input class="form-control" type="text" id="datasource_username" name="datasource_username"
							autocomplete="off" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label required">密码</label>
					<div class="col-xs-9">
						<input class="form-control" type="password" id="datasource_password" name="datasource_password"
							autocomplete="off" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-3 control-label">是否加密</label>
					<div class="col-xs-3">
						<input type="checkbox" id="datasource_enc" name="datasource_enc">
					</div>
				</div>
				<div class="form-group">
					<div class="pull-right">
						<span class="btn btn-green btn-sm" onclick="saveTemplate()">保存</span>
						<a class="btn btn-green btn-sm" onclick="resetTemplate()">清空</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<script type="text/javascript">
    old_data={};
	$(document).ready(function() {
		var para = [ 'ORACLE', 'MYSQL', 'POSTGRE' ];
		$("#datasource_type").select2({
			data : para
		});
		setDriver();
		var datasource_id = "${datasource_id!''}"
            ,id = "${id!''}"
            ,datasource_name = "${datasource_name!''}"
            ,datasource_purpose = "${datasource_purpose!''}"
            ,datasource_type = "${datasource_type!''}"
            ,datasource_url = "${datasource_url!''}"
            ,datasource_username = "${datasource_username!''}"
            ,datasource_password = "${datasource_password!''}"
            ,datasource_enc = "${datasource_enc!''}"
            ,datasource_driver = "${datasource_driver!''}";
        id=parseInt((id + '').replace(/,/g, ''));
        old_data = {
            datasource_id:datasource_id,
            datasource_name:datasource_name,
            datasource_purpose:datasource_purpose,
            datasource_type:datasource_type,
            datasource_url:datasource_url,
            datasource_username:datasource_username,
            datasource_password:datasource_password,
            datasource_enc:datasource_enc,
            datasource_driver:datasource_driver
        };
        $('#id').val(id);
        $('#datasource_id').val(datasource_id);
        $('#datasource_name').val(datasource_name);
        $('#datasource_type').val(datasource_type).trigger("change");
        $('#datasource_driver').val(datasource_driver);
        $('#datasource_url').val(datasource_url);
        $('#datasource_username').val(datasource_username);
        $('#datasource_password').val(datasource_password);
        if(datasource_enc==1){
            $('#datasource_enc').prop("checked",true);
        }else{
        }
        if(datasource_purpose=='1'){
            $("#optionsRadios2").prop("checked",true);
		}else if(datasource_purpose=='0'){
            $("#optionsRadios1").prop("checked",true);
        }else{}
	});

	function setDriver() {
		var type = $("#datasource_type").val();

		if (type == 'ORACLE') {
			$('input[name="datasource_driver"]')
					.val('oracle.jdbc.OracleDriver');
		} else if (type == 'MYSQL') {
			$('input[name="datasource_driver"]').val('com.mysql.jdbc.Driver');
		} else if (type == 'POSTGRE') {
			$('input[name="datasource_driver"]').val('org.postgresql.Driver');
		}
	}

	function saveTemplate() {
		var url = compileUrl('${rc.contextPath}/hddp/index/updateDataSource');
        var enc;
        var encIsChecked = $('#datasource_enc').is(":checked");
        if (encIsChecked){
        	enc = 1;
        }else {
        	enc = 0;
        }
        var datasource_id = $('#datasource_id').val()
			,datasource_purpose = $('input:radio:checked').val()
            ,id = $('#id').val()
            ,datasource_type = $('#datasource_type').val()
            ,datasource_name = $('#datasource_name').val()
            ,datasource_url = $('#datasource_url').val()
            ,datasource_username = $('#datasource_username').val()
            ,datasource_password = $('#datasource_password').val()
            ,datasource_driver = $('#datasource_driver').val();
        var updated_nums=0;
        if(datasource_id!=old_data.datasource_id){
            updated_nums ++;
        }
        if(datasource_name!=old_data.datasource_name){
            updated_nums ++;
        }
        if(datasource_purpose!=old_data.datasource_purpose){
            updated_nums ++;
        }
        if(datasource_type!=old_data.datasource_type){
            updated_nums ++;
        }
        if(datasource_driver!=old_data.datasource_driver){
            updated_nums ++;
        }
        if(datasource_url!=old_data.datasource_url){
            updated_nums ++;
        }
        if(datasource_username!=old_data.datasource_username){
            updated_nums ++;
        }
        if(datasource_password!=old_data.datasource_password){
            updated_nums ++;
        }
        if(datasource_enc==0&&!enc==1){
            updated_nums ++;
		}
        if(datasource_enc==1&&enc==1){
            updated_nums ++;
        }
		if(updated_nums==0){
		    parent.layer.closeAll();
            return;
		}
		var para = {
            id:id,
            datasource_id:datasource_id
			,datasource_purpose:datasource_purpose
            ,new_datasource_id: datasource_id
            ,datasource_type: datasource_type
            ,datasource_url: datasource_url
            ,datasource_username: datasource_username
            ,datasource_password: datasource_password
            ,datasource_driver: datasource_driver
            ,datasource_enc: enc
		}
		$.ajax({
			url : url,
            data: JSON.stringify(para),
            contentType: 'application/json;charset=UTF-8;',
			dataType : "json",
			type : "post",
			success : function(data) {

				if (!data.success) {
					parent.layer.alert(data.errorMsg);
					return false;
				} else {
					parent.refreshDataSource();
					
					parent.layer.msg('修改成功');
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				}
			},
			error : function(XMLHttpRequest) {
				layer.alert(XMLHttpRequest.responseText, {
					shade : 0
				});
				return false;
			}
		});
	}

	function resetTemplate() {
		$("#datasource_form").resetForm();
		setDriver();
	}
</script>
</html>