<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>任务列表</title>
    <#include "${rc.contextPath}/framework/importFile.html"/>
</head>
<style>
    html,body{
        height: 100%;
    }
    .panel{
        margin-right: 9px!important;
        margin-left: 5px!important;
    }
    .form-control {
        padding: 0px 12px;
    }
    .layui-layer {
        box-shadow: 1px 1px 5px #b3b3b3;
    }
</style>
<body>
<div class="container-fluid" style="height: 100%;padding: 5px 5px 15px 5px;">
    <div class="row" style="height: 100%;padding-bottom: 7.5px;">
        <div class="col-md-12" style="height: 100%;">
            <div class="panel panel-default" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .2);border-radius: 10px;height: 100%;">
                <div class="panel-heading">
                    任务列表
                </div>
                <div class="panel-body">
                    <div class=" btn-toolbar toolbar" role="toolbar" style="float:left;width: 80%;">
                        <span id="refresh_btn" class="btn btn-green btn-sm glyphicon glyphicon-refresh "> 刷新</span>
                        <span id="add_btn" class="btn btn-green btn-sm glyphicon glyphicon-plus "> 创建</span>
                        <label for="state" class="control-label col-xs-1 ">运行结果</label>
                        <div class="col-xs-1">
                            <select id="state" name="state" class="js-example-templating js-states form-control">
                                <option></option>
                            </select>
                        </div>
                        <span id="select_btn" class="btn btn-green btn-sm glyphicon glyphicon-search "> 搜索</span>
                    </div>
                    <table class="table table-striped table-tips table-tips-green" id="task_table">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" style="height: 50%;padding-top: 7.5px;">
        <div class="col-md-12" style="height: 100%;">
            <div class="panel panel-default" style="box-shadow: 0 2px 4px rgba(0, 0, 0, .2);border-radius: 10px;height: 100%;">
                <div class="panel-heading">
                    子任务列表
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-tips table-tips-green" id="task_item_table">
                    </table>
                </div>
            </div>
        </div>
    </div>-->
</div>
<script>
    $(function () {
        $("#state").select2({
            placeholder: "-请选择-",
            allowClear: true,
            data: [{id:'1',text:'成功'},{id:'2',text:'正在运行'},{id:'0',text:'失败、未启动'}]
        });
        $("#state").val('1').select2();
        initTaskTable();
        refreshTaskItemTable(0,compileUrl(''));
        $('#refresh_btn,#select_btn').click(function () {
            initTaskTable();
        })
        $('#add_btn').click(function () {
            var id = 'addTask';
            parent.$.addtabs.add({
                'id': id,
                'title': '创建任务',
                'url': compileUrl('${rc.contextPath}/ETLTask/addTaskPage'),
                'refresh': true
            });
            parent.setTabs(id);
        })
    })
    function initTaskTable() {
        var url = compileUrl('${rc.contextPath}/ETLTask/selectTaskAll');
        var state = $('#state').val();
        if(state!=null||state!=''){
            url = compileUrl('${rc.contextPath}/ETLTask/selectTask');
        }
        var para = {
            state:state
        };
        var panel_height = $('#task_table').closest('.panel').height();
        var panel_head = $('#task_table').closest('.panel').find('.panel-heading').height();
        var panel_body = panel_height - panel_head;
        var table_hight = panel_body - 10;
        $('#task_table').bootstrapTable('destroy');
        $('#task_table').bootstrapTable({
            url : url,
            method : 'post',
            contentType : 'application/x-www-form-urlencoded',
            cache : false,
            pagination : true,
            sortable : true,
            toolbar: '#task_table .toolbar:first', //工具按钮用哪个容器
            queryParams : para,
            sidePagination : 'client',
            pageNumber : 1,
            pageSize : 10,
            search: true,
            minimumCountColumns : 2,
            clickToSelect : true,
            uniqueId : 'id',
            height: table_hight,
            responseHandler : function(res) {
                for (var i in res.data.data) {
                    res.data.data[i].state=res.data.data[i].state==1?'已完成':res.data.data[i].state==2?'正在运行':res.data.data[i].state==3?'失败':'未启动';
                    res.data.data[i].exception_tag=res.data.data[i].exception_tag==1?'异常':'无';
                }
                return res.data;
            },
            onPostBody:function () {
                $('#task_table tbody tr').each(function () {
                    var text = $(this).find('td').eq(6).text();
                    if(text=='异常'){
                        $(this).find('td').eq(6).css('color','#d15b47');
                    }else{
                    }
                })
            },
            columns : [{
                field: 'numberid',//可不加
                title: '序号',//标题  可不加
                formatter: function (value, row, index) {
                    return index + 1;
                },
                width: 50
            }, {
                field : 'task_id',
                title : '任务ID',
                sortable: true
            }, {
                field : 'task_name',
                title : '任务名',
                sortable: true
            }, {
                field : 'state',
                title : '执行结果',
                sortable: true
            }, {
                field : 'starttime',
                title : '开始时间',
                sortable: true
            }, {
                field : 'endtime',
                title : '结束时间',
                sortable: true
            }, {
                field : 'exception_tag',
                title : '异常标志',
                sortable: true
            }, {
                field : 'operate',
                title : '操作',
                formatter: function (value, row, index) {
                    var id = row.task_id;
                    if(row.state=='正在运行'){
                        return [
                            '<a href="javascript:;" class="a-default" onclick="getTaskItem(\''
                            + id + '\')" style="margin-right:5px;">查看</a>'+
                            '<a href="javascript:;" class="a-default" onclick="stopTask(\''
                            + id + '\')" style="margin-right:5px;">停止</a>'+
                            '<a href="javascript:;" class="a-default" onclick="deleteTask(\''
                            + id + '\')" style="margin-right:5px;">删除</a>'].join('');
                    }else{
                        return [
                            '<a href="javascript:;" class="a-default" onclick="getTaskItem(\''
                            + id + '\')" style="margin-right:5px;">查看</a>'+
                            '<a href="javascript:;" class="a-default" onclick="runTask(\''
                            + id + '\')" style="margin-right:5px;">执行</a>'+
                            '<a href="javascript:;" class="a-default" onclick="deleteTask(\''
                            + id + '\')" style="margin-right:5px;">删除</a>'].join('');
                    }
                }
            }]
        });
    }

    function deleteTask(id) {
        if(typeof id=='undefined'){
            layer.alert('请指定任务');
            return;
        }
        layer.confirm('是否要删除该任务吗？', {btn: ['确认', '取消'], title: "提示"}, function () {
            var url = compileUrl('${rc.contextPath}/ETLTask/deleteTaskById');
            var para = {
                task_id: id
            };
            $.ajax({
                url: url,
                data: para,
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (!data.success) {
                        layer.alert(data.errorMsg);
                        return false;
                    } else {
                        layer.msg('删除成功');
                        initTaskTable();
                    }
                }
            })
        })
    }
    function runTask(id) {
        if(typeof id=='undefined'){
            layer.alert('请指定任务');
            return;
        }
        var index = layer.confirm('请选择设置批量抽取条数：<input class="form-control" style="width: 100px;display: inline-block;"  type="number" id="batch_size" name="batch_size" autocomplete="off" value="10000"></br>是否清表<select  class="form-control" style="width: 100px;display: inline-block;" id="truncate" >' +
            '<option value="0">否</option><option value="1">是</option></select>', {btn: ['快速','普通', '取消'], title: "提示"}, function () {
            var batch_size = $('#batch_size').val();
            var truncate = $('#truncate').val();
            layer.close(index);
            LoadRunningInfo(id,batch_size,truncate,3);
        }, function () {
            var batch_size = $('#batch_size').val();
            var truncate = $('#truncate').val();
            layer.close(index);
            LoadRunningInfo(id,batch_size,truncate,2);
        });
    }
    function getTaskItem(id) {
        var pid = 'getTaskItem';
        parent.$.addtabs.add({
            'id': pid,
            'title': '任务视图',
            'url': compileUrl('${rc.contextPath}/ETLTask/taskItemPage?id='+id),
            'refresh': true
        });
        parent.setTabs(pid);
        //refreshTaskItemTable(id,compileUrl('${rc.contextPath}/ETLTask/selectTaskItem'));
    }

    function refreshTaskItemTable(id,url) {
        if(typeof id=='undefined'){
            layer.alert('请指定task');
            return;
        }
        var para = {
            task_id: id
        };
        var panel_height = $('#task_item_table').closest('.panel').height();
        var panel_head = $('#task_item_table').closest('.panel').find('.panel-heading').height();
        var panel_body = panel_height - panel_head;
        var table_hight = panel_body - 15;
        $('#task_item_table').bootstrapTable('destroy');
        $('#task_item_table').bootstrapTable({
            url : url,
            method : 'post',
            contentType : 'application/x-www-form-urlencoded',
            cache : false,
            pagination : true,
            sortable : true,
            toolbar: '#task_item_table .toolbar:first', //工具按钮用哪个容器
            queryParams : para,
            sidePagination : 'client',
            pageNumber : 1,
            pageSize : 10,
            search: true,
            singleSelect: true,
            minimumCountColumns : 2,
            clickToSelect : true,
            uniqueId : 'id',
            height: table_hight,
            responseHandler : function(res) {
                for (var i in res.data.data) {
                    res.data.data[i].state=res.data.data[i].state==1?'已完成':res.data.data[i].state==2?'正在运行':res.data.data[i].state==3?'失败':'未启动';
                    res.data.data[i].exception_tag=res.data.data[i].exception_tag==1?'异常':'无';
                }
                return res.data;
            },
            onPostBody:function () {
                $('#task_item_table tbody tr').each(function () {
                    var text = $(this).find('td').eq(6).text();
                    if(text=='异常'){
                        $(this).find('td').eq(6).css('color','#d15b47');
                    }else {
                        $(this).find('td').eq(6).css('color','#0b9284');
                    }
                })
            },
            columns : [{
                field: 'numberid',//可不加
                title: '序号',//标题  可不加
                formatter: function (value, row, index) {
                    return index + 1;
                },
                width: 50
            }, {
                field : 'id',
                title : '子任务ID',
                sortable: true
            }, {
                field : 'sql_id',
                title : 'SQLID',
                sortable: true
            }, {
                field : 'insert_user',
                title : '目标用户',
                sortable: true
            }, {
                field : 'insert_table',
                title : '目标表',
                sortable: true
            }, {
                field : 'type',
                title : '是否传参',
                sortable: true
            }, {
                field : 'state',
                title : '执行结果',
                sortable: true
            }, {
                field : 'starttime',
                title : '开始时间',
                sortable: true
            }, {
                field : 'endtime',
                title : '结束时间',
                sortable: true
            }, {
                field : 'exception_info',
                title : '异常信息',
            }, {
                field : 'notes',
                title : '备注',
                sortable: true
            }, {
                field : 'operate',
                title : '操作',
                formatter: function (value, row, index) {
                    var id = row.id;
                    return [
                        '<a href="javascript:;" class="a-default" onclick="getTaskItemInfo(\''
                        + id + '\')" style="margin-right:5px;">查看</a>'+
                        '<a href="javascript:;" class="a-default" onclick="runTaskItem(\''
                        + id + '\')" style="margin-right:5px;">执行</a>'].join('');
                }
            }]
        });
    }

    function runTaskItem(id) {
        if(typeof id=='undefined'){
            layer.alert('请指定子任务');
            return;
        }
        layer.confirm('请选择设置批量抽取条数：<input class="form-control" style="width: 100px;display: inline-block;"  type="number" id="batch_size" name="batch_size" autocomplete="off" value="10000"></br>是否清表<select  class="form-control" style="width: 100px;display: inline-block;" id="truncate" >' +
            '<option value="0">否</option><option value="1">是</option></select>', {btn: ['快速','普通', '取消'], title: "提示"}, function () {
            var url = compileUrl('${rc.contextPath}/ETLTask/runTaskItem');
            var batch_size = $('#batch_size').val();
            var truncate = $('#truncate').val();
            layer.closeAll();
            var para = {
                id: id,
                batch_size:batch_size,
                truncate:truncate,
                way:3
            };
            $.ajax({
                url: url,
                data: para,
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (!data.success) {
                        layer.alert(data.errorMsg);
                        return false;
                    } else {
                        layer.msg('抽取完成！');
                    }
                },
                error: function (XMLHttpRequest) {
                    layer.alert(XMLHttpRequest.responseText, {
                        shade: 0
                    });
                    return false;
                }
            });
        }, function () {
            var url = compileUrl('${rc.contextPath}/ETLTask/runTaskItem');
            var batch_size = $('#batch_size').val();
            var truncate = $('#truncate').val();
            layer.closeAll();
            var para = {
                id: id,
                batch_size:batch_size,
                truncate:truncate,
                way:2
            };
            $.ajax({
                url: url,
                data: para,
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (!data.success) {
                        layer.alert(data.errorMsg);
                        return false;
                    } else {
                        layer.msg('抽取完成！');
                    }
                },
                error: function (XMLHttpRequest) {
                    layer.alert(XMLHttpRequest.responseText, {
                        shade: 0
                    });
                    return false;
                }
            });
        })
    }

    function getTaskItemInfo(id) {
        var pid = 'TaskItemInfo';
        parent.$.addtabs.add({
            'id': pid,
            'title': '子任务信息',
            'url': compileUrl('${rc.contextPath}/ETLTask/getTaskInfoPage?id='+id),
            'refresh': true
        });
        parent.setTabs(pid);
    }

    function LoadRunningInfo(task_id,batch_size,truncate,way) {
        var index = layer.open({
            type: 1,
            title: '抽取进程查询（正在抽取中...）',
            content: '',
            maxmin: true,
            shade: 0,
            area: ['1360px', '600px'],
            success: function (layero, index) {
                $('.layui-layer-content').append('<div>' +
                    '<div class=" btn-toolbar toolbar" role="toolbar" style="float:left;width: 80%;">' +
                    '                                <span id="refresh_run_task" class="btn btn-green btn-sm glyphicon glyphicon-refresh " > 刷新</span>' +
                    '<span id="stop_task" class="btn btn-green btn-sm glyphicon glyphicon-refresh" onclick="stopTask(\'\'\n' +
                    '                        + task_id + \'\')" > 停止</span>'+
                    '</div>' +
                    '<table class="table table-striped table-tips table-tips-green" id="run_task_table"></div>');
                refreshRunTaskTable(task_id);
                $('body').off('click',"#refresh_run_task")
                $('body').on('click',"#refresh_run_task",function () {
                    refreshRunTaskTable(task_id);
                })
                var url = compileUrl('${rc.contextPath}/ETLTask/runTask');
                var para = {
                    task_id: task_id,
                    batch_size:batch_size,
                    truncate:truncate,
                    way:way
                };
                $.ajax({
                    url : url,
                    data : para,
                    dataType : "json",
                    type : "post",
                    success : function(data) {
                        if (!data.success) {
                            layer.alert(data.errorMsg);
                            return false;
                        } else {
                           /* layer.msg('抽取完成！');
                            $('.layui-layer-title').text('抽取进程查询（已完成！）');*/
                            refreshRunTaskTable(task_id);
                        }
                    },
                    error : function(XMLHttpRequest) {
                        layer.alert(XMLHttpRequest.responseText, {
                            shade : 0
                        });
                        return false;
                    }
                });
            }
        })
    }

    function refreshRunTaskTable(id) {
        var url = compileUrl('${rc.contextPath}/ETLTask/selectTaskItem')
        if(typeof id=='undefined'){
            layer.alert('请指定task');
            return;
        }
        var para = {
            task_id: id
        };
        $('#run_task_table').bootstrapTable('destroy');
        $('#run_task_table').bootstrapTable({
            url : url,
            method : 'post',
            contentType : 'application/x-www-form-urlencoded',
            cache : false,
            pagination : true,
            sortable : true,
            toolbar: '#run_task_table .toolbar:first', //工具按钮用哪个容器
            queryParams : para,
            sidePagination : 'client',
            pageNumber : 1,
            pageSize : 10,
            search: true,
            singleSelect: true,
            minimumCountColumns : 2,
            clickToSelect : true,
            uniqueId : 'id',
            height: 500,
            responseHandler : function(res) {
                var count=0;
                var run_num=0;
                for (var i in res.data.data) {
                    run_num++;
                    res.data.data[i].progress = res.data.data[i].insert_count;
                    if(res.data.data[i].state==1){
                        count++;
                    }
                    res.data.data[i].state=res.data.data[i].state==1?'已完成':res.data.data[i].state==2?'正在运行':res.data.data[i].state==3?'失败':'未启动';
                    res.data.data[i].type=res.data.data[i].type==1?'是':'否';
                }
                if(count>0&&count==run_num){
                    $('.layui-layer-title').text('抽取进程查询（已完成！）');
                    layer.msg('抽取完成！');
                }
                return res.data;
            },
            onPostBody:function () {
                $('#run_task_table tbody tr').each(function () {
                    var text = $(this).find('td').eq(6).text();
                    if(text=='失败'){
                        $(this).find('td').eq(6).css('color','#d15b47');
                    }else if(text=='正在运行'){
                        $(this).find('td').eq(6).css('color','#2062d1');
                    }else if(text=='已完成'){
                        $(this).find('td').eq(6).css('color','#0b9284');
                    }else{
                    }
                })
            },
            columns : [{
                field: 'numberid',//可不加
                title: '序号',//标题  可不加
                formatter: function (value, row, index) {
                    return index + 1;
                },
                width: 50
            }, {
                field : 'id',
                title : '子任务ID',
                sortable: true
            }, {
                field : 'sql_id',
                title : 'SQLID',
                sortable: true
            }, {
                field : 'insert_user',
                title : '目标用户',
                sortable: true
            }, {
                field : 'insert_table',
                title : '目标表',
                sortable: true
            }, {
                field : 'type',
                title : '是否传参',
                sortable: true
            }, {
                field : 'state',
                title : '运行状态',
                sortable: true
            }, {
                field: 'progress',
                title: '目标表记录数',
                sortable: true
            }, {
                field : 'row_count',
                title : '总记录数',
                sortable: true
            }, {
                field : 'starttime',
                title : '开始时间',
                sortable: true
            }, {
                field : 'endtime',
                title : '结束时间',
                sortable: true
            }, {
                field : 'exception_info',
                title : '异常信息',
            }, {
                field : 'notes',
                title : '备注',
                sortable: true
            }]
        });
    }

    function stopTask(id) {
        if (typeof id == 'undefined') {
            layer.alert('请指定id');
            return;
        }
        layer.confirm('是否要停止该任务？', {btn: ['确认', '取消'], title: "提示"}, function () {
            var url = compileUrl('${rc.contextPath}/ETLTask/stopTask');
            var para = {
                task_id: id
            };
            $.ajax({
                url: url,
                data: para,
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (!data.success) {
                        layer.alert(data.errorMsg);
                        return false;
                    } else {
                        if(data.data.data=='success'){
                            layer.msg('停止成功');
                            refreshRunTaskTable(id);
                            $('.layui-layer-title').text('抽取进程查询（已停止！）');
                        }else{
                            layer.msg('停止失败');
                        }
                    }
                }
            })
        })
    }
</script>
</body>
</html>